.slider
  position relative
  background url('/assets/images/slider.jpg') no-repeat
  height 800px
  &__content
    display flex
    flex-direction column
    padding 373px 0 0 98px
    width 458px
    h1, h3
      text-transform uppercase
    h1
      letter-spacing -3px
      margin-top 22px
    h3
      color #e53935
    h5
      margin-top 34px
  &__navi
    position absolute
    bottom 19px
    left calc(50% - 60px)
    display flex
    align-items center
    justify-content center
    cursor pointer

.icon-navi
  width 52px
  height 52px
  &:first-child
    width 40px
    height 40px
  &:last-child
    margin-left -3px
    width 40px
    height 40px