mixin header()
  // Header starts 
  HEADER
    .container
      .header
        +e.A(href="#")
          img(src="/assets/images/logo.png")
        NAV
          ul.nav-menu
            li
              a(href="#") Home
            li
              a(href="#") Products
            li
              a(href="#") History
            li
              a(href="#") Showroom
            li
              a(href="#") Contact
          a(href="#")
            img(src="/assets/images/search.png")
  // Header ends 