header
  position absolute
  width 100%
  z-index 1

.header
  padding 63px 167px 0 98px
  display flex
  justify-content space-between

nav 
  display flex

.nav-menu
  list-style none
  li
    list-style-type none
    float left
    text-align center
    width 100px
    &:first-child
      width 74px
    &:nth-child(2)
      width 116px
    &:nth-child(3)
      width 97px
    &:nth-child(4)
      width 122px
    &:nth-child(5)
      width 118px
    a
      padding 0 15px 10px 15px
      width 100%
      text-decoration none
      color #8c8c8c
      font-size 14px
      font-weight 500
      text-transform uppercase
      text-align center
      letter-spacing 1.1px
      &:hover
        border-bottom 3px solid #212121
        color #212121
        font-weight 700
        font-size 14px
