mixin exclusive()
  // Exclusive section starts
  SECTION.section-exclusive
    .container
      +b.exclusive
        +b.large-product
          h3 Exclusive
          h2 Fishnet Chair
          h5 Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
          +b.BUTTON.btn-order Order us
        +e.small-products
          +b.product.product-1
          +b.product.product-2
          +b.product.product-3
          +b.product.product-4
  // Exclusive section ends