.trending
  margin-top 112px
  &__products
    display flex
    flex-wrap wrap
    margin 35px 99px 50px 99px
    justify-content space-between

.product
  width 370px
  height 370px
  margin 15px 0 15px 0
  &.product-1
    background url("/assets/images/product-11.jpg") no-repeat
  &.product-2
    background url("/assets/images/product-21.jpg") no-repeat
  &.product-3
    background url("/assets/images/product-31.jpg") no-repeat
  &.product-4
    background url("/assets/images/product-41.jpg") no-repeat
  &.product-5
    background url("/assets/images/product-5.jpg") no-repeat
  &.product-6
    background url("/assets/images/product-6.jpg") no-repeat
    