mixin trending()
  // Trending section starts
  SECTION.section-trending
    .container
      +b.trending
        +b.panel
          h2 Trending Products
          +b.BUTTON.btn-explore Explore all
        +e.products
          +b.product.product-1
          +b.product.product-2
          +b.product.product-3
          +b.product.product-4
          +b.product.product-5
          +b.product.product-6
  // Trending section ends