body
  font-family Montserrat, sans-serif

.svg-sprite
  display none

.container
  max-width 1366px
  margin 0 auto

h1
  color #212121
  font-size 62px
  font-weight 100

h2
  color #212121
  font-size 36px
  font-weight 700

h3
  color #43a047
  font-size 18px
  font-weight 700

h5
  color #6c6c6c
  font-size 14px
  font-weight 300
  line-height 24px

.btn-order
  cursor pointer
  margin 32px 0 0 51px
  box-shadow 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35)
  background-color #ffffff
  width 181px
  height 45px
  line-height 45px
  color  #212121
  font-size 18px
  font-weight 700
  padding-left 31px
  text-align left
  border-radius 22px
  text-transform uppercase
  letter-spacing 3px
  background url(/assets/images/arrow.png) no-repeat 173px 16px

.btn-explore
  cursor pointer
  font-size 18px
  font-weight 700
  width 250px
  height 45px
  letter-spacing 3px
  text-transform uppercase
  background-color transparent 
  background url("/assets/images/arrow.png") no-repeat 220px 15px

.large-product
  width 683px
  height 683px
  h3
    color #1e88e5
    margin-bottom 18px
    text-transform uppercase
    margin 228px 0 0 51px
  h2
    margin 0 0 24px 51px
  h5
    margin-left 51px
  &.large-product-1
    background url("/assets/images/promo-img1.png") no-repeat
  &.large-product-2
    background url("/assets/images/promo-img.jpg") no-repeat