body
  font-family Montserrat, sans-serif

.svg-sprite
  display none

.container
  max-width 1366px
  margin 0 auto

h1
  color #212121
  font-size 62px
  font-weight 100

h3
  color #43a047
  font-size 18px
  font-weight 700

h5
  color #6c6c6c
  font-size 14px
  font-weight 300