body
  font-family Montserrat, sans-serif

.svg-sprite
  display none

.container
  max-width 1366px
  margin 0 auto

h1
  color #212121
  font-size 62px
  font-weight 100
  letter-spacing -5px
  word-spacing 15px

h2
  color #212121
  font-size 36px
  font-weight 700
  letter-spacing -1.3px

h3
  color #43a047
  font-size 18px
  font-weight 700
  letter-spacing 1.25px

h4
  color #6c6c6c
  font-weight 300
  font-size 22px
  letter-spacing -0.3px

h5
  color #6c6c6c
  font-size 14px
  font-weight 500
  line-height 24px
  letter-spacing -0.17px

a
  text-decoration none
  color #212121
  font-weight 700
  font-size 14px
  letter-spacing 0.25px

p
  letter-spacing -0.2px

.btn-order
  cursor pointer
  margin 30px 0 0 0
  box-shadow 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35)
  background-color #ffffff
  width 181px
  height 45px
  line-height 45px
  color  #212121
  font-size 18px
  font-weight 700
  padding-left 31px
  text-align left
  border-radius 22px
  text-transform uppercase
  letter-spacing 3.8px
  background url(/assets/images/arrow.png) no-repeat 173px 16px

.btn-explore
  cursor pointer
  font-size 18px
  font-weight 700
  width 235px
  height 45px
  margin 11px 0 0 0
  letter-spacing 3.5px
  text-transform uppercase
  background-color transparent 
  background url("/assets/images/arrow.png") no-repeat 205px 15px