mixin featured()
  // Featured section starts 
  SECTION.section-featured
    .container
      .featured
        +b.panel
          +b.UL.switcher
            +e.LI.active
              a(href="#") Featured
            li  
              a(href="#") New     
          +b.BUTTON.btn-explore Explore all
        +e.products
          +b.small-product
            img(src="/assets/images/product-1.png")
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.small-product
            img(src="/assets/images/product-2.png")
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.small-product
            img(src="/assets/images/product-3.png")
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.small-product
            img(src="/assets/images/product-4.png")
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam

